Repository giuppep/rstr-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, mypy-full

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        files: "^rustore_client"
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        files: "^rustore_client"
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        files: "^rustore_client"
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]

      - id: mypy
        name: mypy
        files: "^rustore_client"
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: true

      - id: mypy-full
        name: mypy
        files: ".py$"
        stages: [push]
        language: system
        entry: poetry run mypy rustore_client/
        types: [python]
        pass_filenames: false

      - id: pytest
        name: pytest
        stages: [push]
        entry: poetry run py.test -v
        pass_filenames: false
        language: system
        always_run: true
        types: [python]

initial work on client
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  rustore_client/client.py
  rustore_client/models.py
  setup.cfg
Due: isort, black, flake8, mypy, mypy-full

check selected request method is valid
  rustore_client/client.py
Due: isort, black, flake8, mypy, mypy-full

add delete method
  rustore_client/client.py
Due: isort, black, flake8, mypy, mypy-full

add option to use environment variables to set url and api key
  rustore_client/client.py
Due: isort, black, flake8, mypy, mypy-full

disable tests in pre-commit (atm it fails because there are no tests)
  .pre-commit-config.yaml
Due: none

small fixes
  rustore_client/client.py
  rustore_client/models.py
Due: isort, black, flake8, mypy, mypy-full

use requests class for handling authentication
  rustore_client/client.py
Due: isort, black, flake8, mypy, mypy-full

handle errors in blob_store
  rustore_client/client.py
Due: isort, black, flake8, mypy, mypy-full

reorganize files & imports
  rustore/__init__.py
  rustore/client.py
  rustore/models.py
  rustore_client/__init__.py
Due: isort, black, flake8, mypy, mypy-full

documentation
  rustore/models.py
Due: mypy-full

add example to readme
  README.md
Due: none

update .pre-commit-config.yaml
  .pre-commit-config.yaml
Due: none

readme
  README.md
Due: none

rename rustore -> rstr
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  rustore/__init__.py
  rustore/client.py
Due: mypy-full
