Repository giuppep/rstr-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, mypy-full

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]

      - id: mypy
        name: mypy
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: true

      - id: mypy-full
        name: mypy
        files: ".py$"
        stages: [push]
        language: system
        entry: poetry run mypy rstr/
        types: [python]
        pass_filenames: false
      # - id: pytest
      #   name: pytest
      #   stages: [push]
      #   entry: poetry run py.test -v
      #   pass_filenames: false
      #   language: system
      #   always_run: true
      #   types: [python]

chore: update git blame ignore refs
  .git-blame-ignore-revs
Due: none

chore: tidy up client magic methods
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

chore: remove unnecessary const
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

chore: add osx files to gitignore
  .gitignore
Due: none

rename enum
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

docstrings
  rstr/__init__.py
  rstr/client.py
  rstr/exceptions.py
  rstr/models.py
Due: isort, black, flake8, mypy, mypy-full

docstrings
  rstr/models.py
Due: isort, black, flake8, mypy, mypy-full

setup sphinx docs
  docs/Makefile
  docs/make.bat
  docs/source/client.rst
  docs/source/conf.py
  docs/source/exceptions.rst
  docs/source/index.rst
  docs/source/models.rst
Due: mypy-full

modify index
  docs/source/index.rst
Due: none

fix docstrings
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

update readme
  README.md
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

feat(docs): created sphinx documentation (#1)
  .gitignore
  README.md
  docs/Makefile
  docs/make.bat
  docs/source/client.rst
  docs/source/conf.py
  docs/source/exceptions.rst
  docs/source/index.rst
  docs/source/models.rst
  rstr/__init__.py
  rstr/client.py
  rstr/exceptions.py
  rstr/models.py
Due: isort, black, flake8, mypy, mypy-full

chore: default client url/token to None + fix variable names in docstrings
  README.md
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

chore: move BlobMetadata.from_headers to Rstr._headers_to_metadata
  rstr/client.py
  rstr/models.py
Due: isort, black, flake8, mypy, mypy-full

chore: update pyproject.toml and poetry.lock
  poetry.lock
  pyproject.toml
Due: none

fix: parse BlobMetadata size to int
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

docs: add installation details
  README.md
  docs/source/index.rst
Due: none

install poetry via pip
  .github/workflows/release.yml
Due: none

poetry pypi config
  .github/workflows/release.yml
Due: none

revert version
  pyproject.toml
Due: none

setup release action
  .github/workflows/release.yml
Due: none

test google release-please
  .github/workflows/release1.yml
Due: none

dummy bump version
  pyproject.toml
Due: none

only run action on tag
  .github/workflows/release.yml
Due: none

use google action
  .github/workflows/release.yml
  .github/workflows/release1.yml
Due: none

use pypi test token
  .github/workflows/release.yml
Due: none

chore: setup gh actions for release (#3)
  .github/workflows/release.yml
Due: none

chore: run gh actions on main branch
  .github/workflows/release.yml
Due: none

debug actions
  .github/workflows/release.yml
Due: none

chore: configure gh action to publish to main pypi index
  .github/workflows/release.yml
Due: none

chore: configure gh action to publish to main pypi index
  .github/workflows/release-please.yml
Due: none

chore: release configuration
  .github/workflows/release.yml
Due: none

chore: bump pyproject.toml version
  pyproject.toml
Due: none

chore: use personal token in gh actions
  .github/workflows/release.yml
Due: none

chore(main): release 0.1.0
  CHANGELOG.md
Due: none
