Repository giuppep/rstr-client: changes, and which pre-commit hooks are due for each by the changed paths.
All: isort, black, flake8, mypy, mypy-full

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: isort
        name: isort
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: black
        name: black
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: flake8
        name: flake8
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run flake8
        types: [python]

      - id: mypy
        name: mypy
        files: "^rstr"
        stages: [commit]
        language: system
        entry: poetry run mypy
        types: [python]
        pass_filenames: true

      - id: mypy-full
        name: mypy
        files: ".py$"
        stages: [push]
        language: system
        entry: poetry run mypy rstr/
        types: [python]
        pass_filenames: false
      # - id: pytest
      #   name: pytest
      #   stages: [push]
      #   entry: poetry run py.test -v
      #   pass_filenames: false
      #   language: system
      #   always_run: true
      #   types: [python]

rename rustore -> rstr
  .pre-commit-config.yaml
  README.md
  pyproject.toml
  rustore/__init__.py
  rustore/client.py
Due: mypy-full

ignore rename rev in git blame
  .git-blame-ignore-revs
Due: none

chore: update types-requests library
  poetry.lock
  pyproject.toml
Due: none

fix: add bytes
  rustore/client.py
Due: mypy-full

fix: use urljoin to join endpoint to base url
  rustore/client.py
Due: mypy-full

chore: setup pydocstyle
  .pre-commit-config.yaml
  poetry.lock
  pyproject.toml
  rustore/client.py
  rustore/models.py
Due: mypy-full

chore: rename folder
  rstr/__init__.py
  rstr/client.py
  rstr/models.py
Due: isort, black, flake8, mypy, mypy-full

chore: move tool configuration to pyproject.toml
  pyproject.toml
  setup.cfg
Due: none

chore: rename flake8 config
  .flake8
Due: none

chore: move exceptions to separate file
  rstr/__init__.py
  rstr/client.py
  rstr/exceptions.py
Due: isort, black, flake8, mypy, mypy-full

chore: make dataclasses frozen
  rstr/models.py
Due: isort, black, flake8, mypy, mypy-full

chore: use enum for request methods
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

feat: use rstr as context manager
  rstr/client.py
Due: isort, black, flake8, mypy, mypy-full

chore: update git blame ignore refs
  .git-blame-ignore-revs
Due: none
